div.mdl-grid
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello im oskar
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
  div.col.mdl-cell.mdl-cell--4-col.mdl-card
    .mdl-card__title hello
