.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    header.mdl-layout__header
        .mdl-layout__header-row
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
            label.mdl-button.mdl-js-button.mdl-button--icon(for='fixed-header-drawer-exp')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#fixed-header-drawer-exp.mdl-textfield__input(type='text', name='sample')
      .mdl-layout__drawer
        span.mdl-layout-title Title
        nav.mdl-navigation
          a.mdl-navigation__link(ui-sref='root.movies') Movies
          a.mdl-navigation__link(ui-sref='root.phones') Phones
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
      main.mdl-layout__content
        .page-content
          div(ui-view='')
