.div.mdl-grid(ng-init='glowna()')
  div.col.mdl-cell.mdl-cell--3-col.mdl-card.mdl-shadow--2dp(ng-repeat='serial in wyniki', style='background: lightsteelblue;')
    p.mdl-card__title {{serial.original_name}}
    img(ng-show='serial.poster_path !=null',src="https://image.tmdb.org/t/p/w185{{serial.poster_path}}",style="height:250px;")
    img(ng-show='serial.poster_path ==null',src="img/brak-postera.jpg" style="height:250px;")
